body
{
    margin: 0;
    overflow: hidden;
}


/****** PRIMEIRA TELA ******/
#conteiner_telaPrincipal
{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background-color: #470047;
}

#telaPrincipal
{
    grid-column: 3/16;
    grid-row: 3;
}

#texto_telaPrincipal
{
    font-family: sans-serif;
    color: antiquewhite;
}



#cyclingWord
{
    display: inline-block;
    color:rgb(127, 214, 255);
    transition: color 0.5s; /*define o tempo de duração de uma transição, mas não define uma transição*/
}

#botao_telaPrincipal
{
    grid-column: 12;
    grid-row: 3;
    place-self: center;
}

#botao_transicao_primeiraTela_segundaTela
{
    all:unset;
    cursor: pointer;
}
.material-symbols-outlined
{
    background: none;
    color:rgb(127, 214, 255);
}

@keyframes rotacao_aparece
{
    /*define uma animação em que um elemento "aparece vindo de baixo"*/
    from
    {
        opacity: 0;
        transform: translateY(20px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes rotacao_desaparece
{ /*define uma animação em que um elemento "desaparece indo para cima"*/

    from
    {
        opacity: 1;
        transform: translateY(0);
    }
    to
    {
        opacity: 0;
        transform: translateY(-20px);
    }

}


/*para as animações serão criadas classes para que possam ser controladas pelo JS*/
.rotacao_aparece
{
    animation: rotacao_aparece 0.5s ease-in;
}

.rotacao_desaparece
{
    animation: rotacao_desaparece 0.5s ease-out;
}

.animacao_escondeTela
{
    animation: rotacao_desaparece 0.5s;
    
}

.escondeTela
{
    display: none !important;
}





/****** SEGUNDA TELA ******/

#segundaTela
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F7F7F7;
    overflow: hidden;
}


#tela_selecao_escopoDePlanejamento
{
    display:grid;
    grid-template-columns: repeat(3,25%);
    gap: 2em;
    justify-content: space-evenly;
    font-family: sans-serif;
    
    font-family: sans-serif;
    color: #1a1a1a;
}

.escopoPlano
{
    display: flex;
    flex-direction: column; 
    align-self: center;
    padding: 1em;
    text-align: left;
    border-radius: 1em;
    box-shadow:  0 .75em 2em rgba(71, 0, 71, 0.603);
    cursor: pointer;

    height: 5em; 
}

.tipoEscopo
{
    text-align: center;
}

.textoEscopo
{
  opacity: 0;
  max-height: 0;
  margin: 0;
  transition: opacity 0s;
}


#mensal
{
    transition: min-height 0.5s;
}

#semanal
{
    transition: min-height 0.5s;
}

#diario
{
    transition: min-height 0.5s;

}

#mensal:hover
{
    min-height: 10em;
}

#semanal:hover
{
    min-height: 10em;
}

#diario:hover
{
    min-height: 10em;
}

.escopoPlano:hover .textoEscopo
{
    opacity:1;
    font-size: inherit;
    transition: opacity 0.5s;
}